img {
    width: 100%;
    height: auto;
}
h1 {
    color: cornflowerblue;
    background-color: rgb(236, 236, 193);
    height: 60px;
}
p {
    background-color: rgb(181, 235, 186)
    cornflowerblue
    
    margin: 5px;
    padding: 5px;
}
nav {
    background-color:cornflowerblue
    height: 100px;
}
a {
    color:darkgreen
}